
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, rgb(174, 174, 201) 0%, rgb(231, 243, 243) 100%);
    min-height: 100vh; /* define a altura mínima de um elemento*/
    color: #1e293b;
    padding: 2rem;
    line-height: 2; 

}


#formAluno{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 30px 40px;
    box-shadow: 0 8px 24px rgba(219, 216, 216, 0.15);
    
    
}

.table-section{
    max-width: 900px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 30px 40px;
    box-shadow: 0 8px 24px rgba(219, 216, 216, 0.15);

}


.container h1{
    background:linear-gradient(135deg,#718096 0%, #718079 100%) ;
    font-size: 3rem;
    margin-bottom: 40px;
    margin-left: 190px;
    margin-right: 190px;
    text-shadow: 4px 4px 8px rgba(5, 6, 7, 2.30);
    border-radius: 50px;
    text-align: center;
    font-style: italic;
    color: #f9fafc;
    
}





.container h2{
    text-align: center;
    font-size: 2rem;
    opacity:0.9;
}


/*Formulário*/
.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    
}

label{
    font-weight: 600;
    color: #2d3748;
    margin-right: 5px;
}

input{
    padding: 8px 10px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    outline: none; /*Espessura do contorno*/
    width: 100%;
    transition: 0.3s;
}

input:focus{
    border-color: #6366f1;
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.25);
}

/*   Botões*/

button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    background-color: #4f46e5;
}

/* Estilo quando o mouse está sobre o botão */
button:hover {
  background-color:#4338ca; /* Muda a cor de fundo */
  color: lightgray; /* Muda a cor do texto */
}

button.salvar {
    background-color: #667eea;
}

button.salvar:hover {
    background-color: #5a67d8;
}

button.cancelar {
    background-color: #a0aec0;
}

button.cancelar:hover {
    background-color: #718096;
}

/* TABELA DE ALUNOS */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #e2e8f0;
    text-align: left;
    color: #2d3748;
}

th {
  /*Ajustar a cor e tamanho da fonte na barra de alunos*/
    background-color: #c8d5e2;
    font-weight: 700;
}

tr:hover {
    background-color: #f7fafc;
}






/* ======== RESPONSIVIDADE ======== */
@media (max-width: 700px) {
  .container {
    padding: 20px;
  }

  .form-group {
    flex-direction: column;
  }

  input {
    font-size: 1rem;
    width: 100%;
  }

  button {
    width: 100%;
  }

}
